.main_content {
  width: 100%;
  height: 100%;
  background-color: #da9c9c;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 3px 24px 0px #6c6874;
}

.footer_section {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  border-bottom: 1px solid #6c6874;
}

ul {
  width: 20%;
}

ul span {
  font-size: 20px;
  border-bottom: 1px solid #000000;
}

li {
  list-style: none;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #6c6874;
}

.footer_section_social {
  display: flex;
  flex-flow: row nowrap;
}
