<div class="main_content">
  <div class="footer_section">
    <ul>
      <span>Dane Firmy</span>
      <li>wedap.sp. z.o.o</li>
      <li>ul. Pokoju 56 30-644 Kraków</li>
      <li>NIP: 000 000 00 00</li>
    </ul>
    <ul>
      <span>Obsługa klienta</span>
      <li><a href="tel:+4800000"> tel.: 000 000 000</a></li>
      <li><a href="tel:+4800000"> tel.: 000 000 000</a></li>
      <li><a href="mailto:AYZ@gmail">gmail@mail.com</a></li>
      <li>godziny otwarcia: 8:00 - 16:00</li>
    </ul>
    <ul>
      <span>Oddział Kraków</span>
      <li>ul. Pokoju 56 30-644 Kraków</li>
      <li><a href="tel:+4800000"> tel.: 000 000 000</a></li>
    </ul>
  </div>
  <div class="footer_section">
    <ul>
      <span>Moje konto</span>
      <li><a href="#">Logowanie</a></li>
      <li><a href="#">Rejestracja</a></li>
    </ul>
    <ul>
      <span>Informacje</span>
      <li><a href="#"> Regulamin</a></li>
      <li><a href="#"> Polityka prywatności</a></li>
    </ul>
    <ul>
      <span>Social media</span>
      <div class="footer_section_social">
        <li>yt</li>
        <li>fb</li>
        <li>insta</li>
        <li>twiter</li>
      </div>
    </ul>
  </div>
</div>
